@model IEnumerable<AsturianuTV.Infrastructure.Data.Models.Plan>
@{
    Layout = "_AdminLayout";
}

<div class="crud">
    <div class="crud-content top">
        <div class="crud-info">
            <p class="info">План: </p>
            <p class="info">Подписка: </p>
            <p class="info"></p>
            <p class="info"></p>
        </div>
        <div class="crud-action">
            <p>Действия</p>
        </div>
    </div>
</div>

@foreach (var item in Model)
{
    <section class="crud">
        <div class="accordion">
            <div class="crud-content">
                <div class="crud-info">
                    <p class="info">@item.Name</p>
                    @if (item.Subscription == null)
                    {
                        <p class="info">"Без подписки"</p>
                    }
                    else
                    {
                        <p class="info">@item.Subscription.Name</p>
                    }
                    <p class="info"></p>
                    <p class="info"></p>
                </div>
                <div class="crud-action">
                    <a class="link-crud" asp-action="Details" asp-controller="Plan" asp-route-id="@item.Id">
                        <img class="icon-crud" src="~/assets/icons8-информация.svg" alt="Alternate Text"/>
                    </a>
                    <a class="link-crud" asp-action="Edit" asp-controller="Plan" asp-route-id="@item.Id">
                        <img class="icon-crud" src="~/assets/icons8-редактировать.svg" alt="Alternate Text"/>
                    </a>
                    <a class="link-crud" asp-action="Delete" asp-controller="Plan" asp-route-id="@item.Id">
                        <img class="icon-crud" src="~/assets/icons8-удалить.svg" alt="Alternate Text"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="panel character-skill">
            @foreach (var blog in item.Blogs)
            {
                <p>@blog.Title</p>
            }
        </div>
    </section>
}
<a class="create-title" asp-action="Create" asp-controller="Plan">Create</a>
@section CharacterStyles{
    <link href="~/css/character.css" rel="stylesheet" />
}

@section CharacterScripts{
    <script src="~/js/character.js"></script>
}