@model IEnumerable<AsturianuTV.Infrastructure.Data.Models.Subscription>
@{
    Layout = "_AdminLayout";
}

<div class="crud">
    <div class="crud-content top">
        <div class="crud-info">
            <p class="info">Название</p>
            <p class="info">Уровень</p>
            <p class="info">Цена</p>
            <p class="info">Статус</p>
        </div>
        <div class="crud-action">
            <p>Действия</p>
        </div>
    </div>
</div>

@foreach (var item in Model)
{
    <section class="crud">
        <div class="crud-content">
            <div class="crud-info">
                <p class="info">@item.Name</p>
                <p class="info">@item.Level</p>
                <p class="info">@item.Price</p>
                <p class="info">@item.IsReady</p>
            </div>
            <div class="crud-action">
                <a class="link-crud" asp-action="Details" asp-controller="Subscription" asp-route-id="@item.Id">
                    <img class="icon-crud" src="~/assets/icons8-информация.svg" alt="Alternate Text"/>
                </a>
                <a class="link-crud" asp-action="Edit" asp-controller="Subscription" asp-route-id="@item.Id">
                    <img class="icon-crud" src="~/assets/icons8-редактировать.svg" alt="Alternate Text"/>
                </a>
                <a class="link-crud" asp-action="Delete" asp-controller="Subscription" asp-route-id="@item.Id">
                    <img class="icon-crud" src="~/assets/icons8-удалить.svg" alt="Alternate Text"/>
                </a>
            </div>
        </div>
    </section>
}
<a class="create-title" asp-action="Create" asp-controller="Subscription">Create</a>