@model IEnumerable<AsturianuTV.Infrastructure.Data.Models.Skill>
@{
    Layout = "_AdminLayout";
}

<div class="crud">
    <div class="crud-content top">
        <div class="crud-info">
            <p class="info">Скилл</p>
            <p class="info">Герой</p>
            <p class="info">Описание</p>
            <p class="info">Тип</p>
        </div>
        <div class="crud-action">
            <p>Действия</p>
        </div>
    </div>
</div>

@foreach (var item in Model)
{
    <section class="crud">
        <div class="crud-content">
            <div class="crud-info">
                <p class="info">@item.Name</p>
                <p class="info">@item.Character</p>
                <p class="info">@item.Description</p>
                <p class="info">@item.SkillType</p>
            </div>
            <div class="crud-action">
                <a class="link-crud" asp-action="Details" asp-controller="Skill" asp-route-id="@item.Id">
                    <img class="icon-crud" src="~/assets/icons8-информация.svg" alt="Alternate Text"/>
                </a>
                <a class="link-crud" asp-action="Edit" asp-controller="Skill" asp-route-id="@item.Id">
                    <img class="icon-crud" src="~/assets/icons8-редактировать.svg" alt="Alternate Text"/>
                </a>
                <a class="link-crud" asp-action="Delete" asp-controller="Skill" asp-route-id="@item.Id">
                    <img class="icon-crud" src="~/assets/icons8-удалить.svg" alt="Alternate Text"/>
                </a>
            </div>
        </div>
    </section>
}
<a class="create-title" asp-action="Create" asp-controller="News">Create</a>