@using AsturianuTV.Services.Interfaces
@inject IPreloadDataService PreloadDataService
@{
    var preloadedData = await PreloadDataService.PreloadData();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AsturianuTV</title>
    <link href="~/css/header.css" rel="stylesheet" />
    <link href="~/css/footer.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/8a53598006.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="~/css/main-page.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.9/index.global.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
    
</head>
<body>
    <!-- Your HTML content goes here -->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Select2 JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>

    <header>
        <div class="wrapper">
            <nav class="header-menu">
                <div class="header-menu__links">
                    <a asp-action="Index" asp-controller="Home" class="logo-link"><img src="~/assets/icon-dota.svg"></a>
                    <ul class="header-items">
                        <li class="header-item"><a asp-controller="Home" asp-action="BaseKnowledge" class="header-item__link">Base of knowleges</a></li>
                        <li class="header-item"><a asp-controller="Autopicker" asp-action="Autopicker" class="header-item__link">Autopicker</a></li>
                        <li class="header-item"><a asp-controller="Home" asp-action="Cybersports" class="header-item__link">Cybersport</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <nav class="menu" id="theMenu">
            <div class="menu-wrap">
                <h1 class="logo"><a href="">Аккаунт</a></h1>
                <i class="fa fa-arrow-right menu-close"></i>
                @if (preloadedData != null)
                {
                    <p>@preloadedData.Email</p>

                    @if (preloadedData.Role?.Name == "Administrator")
                    {
                        <a asp-controller="Admin"
                           asp-action="Index">Go to settings</a>
                    }

                    if (preloadedData.SteamProfileId != null)
                    {
                        <a asp-controller="User" asp-action="Statistic" asp-route-id="@preloadedData.SteamProfileId">
                            My statistics
                        </a>
                    }
                    <a asp-controller="User" asp-action="SettingsProfile" asp-route-id="@preloadedData.Id">
                        Update profile
                    </a>
                    <a asp-controller="Account" asp-action="Logout">Log out</a>
                }
                else
                {
                    <a asp-controller="Account" asp-action="Login">Login</a>
                    <a asp-controller="Account" asp-action="Register">Registration</a>
                }

                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-envelope"></i></a>
            </div>
            <div id="menuToggle"><i class="fa fa-bars"></i></div>
        </nav>

    </header>
    <main>
        @RenderBody()
    </main>

    <!-- Initialize Scripts -->
    @RenderSection("LeaguesScripts", required: false)
    @RenderSection("PlayersScripts", required: false)

    <script src="~/js/header.js"></script>
    <script src="~/js/footer.js"></script>

    <!-- Initialize Select2 -->
    <script>
        $(document).ready(function () {
            $('.js-example-basic-single').select2();
        });
    </script>
</body>
</html>