<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AsturianuTV</title>
    @RenderSection("LoginStyles", required: false)
    @RenderSection("RegisterStyles", required: false)
</head>
<body id="particles-js">
    <main>
        @RenderBody()
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("LoginScripts", required: false)
    @RenderSection("RegisterScripts", required: false)
</body>
</html>