@model List<AsturianuTV.Infrastructure.Data.Models.Cybersports.League>
@{
    Layout = "_Layout";
}

<div class="navigarion-menu">
    <a asp-controller="Home" asp-action="Cybersports" class="navigation-button">NEWS</a>
    <a asp-controller="Home" asp-action="Leagues" class="navigation-button active">LEAGUES</a>
    <a asp-controller="Home" asp-action="LeaguesTimeline" class="navigation-button">LEAGUES TIMELINE</a>
    <a asp-controller="Home" asp-action="Teams" class="navigation-button">TEAMS</a>
</div>

<div class="league-container">
    <div class="league-wrapper">
        @foreach (var item in Model) 
        {
            <div class="league-card">
                <a asp-controller="League" asp-action="Details" asp-route-id="@item.Id" class="league-card-link">
                    <div class="header_league-card">
                        <div class="card-dota-icon">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 128 128" enable-background="new 0 0 128 128" xml:space="preserve">
                                <rect fill="#A51C0F" width="128" height="128"></rect>
                                <path fill="#FFFFFF" d="M102.8,103.4l-15.1,1.2L18.3,23.5l5.8-5.2h4.7l81,61.8L102.8,103.4z M29,109.7L18.3,96.6l7.5-22.4l21.3,26.4
	                                L29,109.7z M92.4,18.3l7.7,7.6l-3.3,17.8L76,24.6L92.4,18.3z"></path>
                                </svg>
                            </div>
                        </div>
                        <h3 class="title-dota-league">@item.Name</h3>
                    </div>
                    <div class="img-league">
                        <img src="@item.Logo" alt="Alternate Text" />
                    </div>
                    <div class="league-price">
                        <p>Price: @item.PriceFound$</p>
                        <p>Date: @item.StartDate.Date.ToShortDateString() - @item.EndDate.Date.ToShortDateString()</p>
                    </div>
                </a>
            </div>
        }
    </div>
</div>