@model List<AsturianuTV.Infrastructure.Data.Models.Cybersports.Match>
@{
    Layout = "_AdminLayout";
}

<div class="admin-content-block">
    <div class="admin-content-block-top">
        <h2 class="admin-content-block-title">Match</h2>
        <a asp-controller="Match" asp-action="Create">
            Create new match
        </a>
    </div>
    <table id="tableId" class="table">
        <thead>
            <tr>
                <th>League</th>
                <th>Dire Team</th>
                <th>Radiant Team</th>
                <th>Radian Win</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.League.Name</td>
                    <td>@item.DireTeam.Name</td>
                    <td>@item.RadiantTeam.Name</td>
                    <td>@item.IsRadiantWin</td>
                    <td class="table-actions">
                        <a class="table-action"
                           asp-controller="Match"
                           asp-action="Edit"
                           asp-route-id="@item.Id">
                            <img class="table-action-img" src="~/assets/icons8-редактировать.svg" alt="Alternate Text" />
                        </a>
                        <form asp-controller="Match"
                              asp-action="Delete"
                              method="post">
                            <input type="hidden" name="Id" value="@item.Id" />
                            <button class="table-action" type="submit" name="delete">
                                <img class="table-action-img" src="/assets/icons8-мусор (1).svg" alt="Alternate Text" />
                            </button>
                        </form>
                    </td>
                </tr>
                }
        </tbody>
    </table>
</div>