@model AsturianuTV.Dto.OpenDotaSync.OpenDotaStatisticDto

@{
    Layout = "_Layout";
    var url = "https://api.opendota.com";
    int duration;
}

<div class="statistic-container">
    <div class="statistic-wrapper">
        <div class="statistic-block left">
            <div class="statistic-profile-info">
                <div class="statistic-profile-info-img">
                    <img src="@Model.OpenDotaGeneralInfoUser.Profile.Avatarfull" alt="Alternate Text" />
                </div>
                <div class="statistic-profile-info-main-stats">
                    <p>User name: <span class="pername">@Model.OpenDotaGeneralInfoUser.Profile.Personaname</span></p>
                    <p>Location: <span class="locationname">@Model.OpenDotaGeneralInfoUser.Profile.Loccountrycode</span></p>
                    <p>Steam id: <span class="stemid">@Model.OpenDotaGeneralInfoUser.Profile.Steamid</span></p>
                    <p>Rank tier: <span class="ranktier">@Model.OpenDotaGeneralInfoUser.Rank_Tier</span></p>
                    @if (Model.OpenDotaGeneralInfoUser.Profile.Plus)
                    {
                        <p>Dota plus status: <span class="sub">You are dota plus subscriber</span></p>
                    }
                    else
                    {
                        <p>Dota plus status: <span class="nosub">You do not plus</span></p>
                    }

                </div>
            </div>
            <div class="statistic-block-heroes">
                <div class="statistic-block-heroes-main">
                    <table id="hereosId" class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Games</th>
                                <th>Wins</th>
                                <th>Loses</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OpenDotaPlayerHeroes)
                            {
                                <tr>
                                    <td>@item.Character.Name</td>
                                    <td>@item.Games</td>
                                    <td>@item.Win</td>
                                    <td>@(@item.Games - @item.Win)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="statistic-block">
            <div class="statisctic-matches">
                <div class="statistic-matches-main">
                    <table id="matchesId" class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Win</th>
                                <th>KDA</th>
                                <th>Duration</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OpenDotaPlayerMatches)
                            {
                                <tr>
                                    <td>
                                        <a asp-controller="User" asp-action="CheckMatch" asp-route-id="@item.Match_Id">@item.Character.Name</a>
                                    </td>
                                    <td>
                                        @if (@item.Radiant_Win)
                                        {
                                            <span class="radiant-win">Win</span>
                                        }
                                        else
                                        {
                                            <span class="dire-win">Lose</span>
                                        }
                                    </td>
                                    <td>@item.Kills / @item.Deaths / @item.Assists</td>
                                    <td>
                                        <span class="hidden">
                                            @(int.TryParse(item.Duration, out duration))
                                        </span>
                                        @(duration/60) minutes
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Initialize heroes table -->
<script>
    $(document).ready(function () {
        $('#hereosId').DataTable({
            "paging": false
        });
        $('#matchesId').DataTable({
            "paging": false,
            "order": []
        });
    });
</script>
