@model IEnumerable<AsturianuTV.Infrastructure.Data.Models.Tag>
@{
    Layout = "_AdminLayout";
}

<div class="crud">
    <div class="crud-content top">
        <div class="crud-info">
            <p class="info">Тег</p>
            <p class="info">Новость</p>
            <p class="info"></p>
            <p class="info"></p>
        </div>
        <div class="crud-action">
            <p>Действия</p>
        </div>
    </div>
</div>

@foreach (var tag in Model)
{
    <section class="crud">
        <div class="crud-content">
            <div class="crud-info">
                <p class="info">@tag.Name</p>
                @if (tag.NewsTags != null)
                {
                    foreach (var news in tag.NewsTags)
                    {
                        if (news != null)
                        {
                            <p class="info">@news.News.Title</p>
                        }
                        else
                        {
                            <p class="info">Новость не создана</p>
                        }
                    }
                }
                <p class="info"></p>
                <p class="info"></p>
            </div>
                <div class="crud-action">
                    <a class="link-crud" asp-action="Details" asp-controller="Tag" asp-route-id="@tag.Id">
                        <img class="icon-crud" src="~/assets/icons8-информация.svg" alt="Alternate Text" />
                    </a>
                    <a class="link-crud" asp-action="Edit" asp-controller="Tag" asp-route-id="@tag.Id">
                        <img class="icon-crud" src="~/assets/icons8-редактировать.svg" alt="Alternate Text" />
                    </a>
                    <a class="link-crud" asp-action="Delete" asp-controller="Tag" asp-route-id="@tag.Id">
                        <img class="icon-crud" src="~/assets/icons8-удалить.svg" alt="Alternate Text" />
                    </a>
                </div>

        </div>
    </section>
}

<a asp-controller="Tag" asp-action="Create">Create</a>
