@using AsturianuTV.Infrastructure.Data.Enums
@model AsturianuTV.Dto.SkillDto
@{
    Layout = "_AdminLayout";
}
<form class="form" asp-action="Create" asp-controller="Skill" enctype="multipart/form-data">
    <h2 class="form-title">Добавление скилла</h2>
    <div class="form-group">
        <label asp-for="Name" class="control-label">Название: </label>
        <input class="field" type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group file">
        <div class="left">
            <div class="image-file file">
                <div id="img-preview"><img id="output" /></div>
                <div class="file-btn">
                    <input type="file" id="choose-file" name="Image" accept="image/*" onchange="loadFile(event)" />
                    <label for="choose-file">Выбрать</label>
                </div>
            </div>
        </div>
        <div class="right">
            <label asp-for="Description" class="control-label">Описание: </label>
            <textarea class="field textarea" type="text" asp-for="Description"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="left">
            <label asp-for="Damage" class="control-label">Урон: </label>
            <input class="field" type="text" asp-for="Damage" class="form-control"/>
        </div>
        <div class="right">
            <label asp-for="CoolDown" class="control-label">Перезарядка: </label>
            <input class="field" type="text" asp-for="CoolDown" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="left">
            <label asp-for="TimeDuration" class="control-label">Длительность: </label>
            <input class="field" type="text" asp-for="TimeDuration" class="form-control" />
        </div>
        <div class="right">
            <label asp-for="ManaCost" class="control-label">Стоиость маны: </label>
            <input class="field" type="text" asp-for="ManaCost" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="DamageType" class="control-label">Тип урона: </label>
        <div class="form-radio">
            <div class="form_radio_btn">
                <input id="radio-1" type="radio" asp-for="DamageType" value="@DamageType.None" checked>
                <label for="radio-1">None</label>
            </div>
            <div class="form_radio_btn">
                <input id="radio-2" type="radio" asp-for="DamageType" value="@DamageType.Magic" checked>
                <label for="radio-2">Magic</label>
            </div>
            <div class="form_radio_btn">
                <input id="radio-3" type="radio" asp-for="DamageType" value="@DamageType.Pure">
                <label for="radio-3">Pure</label>
            </div>
            <div class="form_radio_btn">
                <input id="radio-4" type="radio" asp-for="DamageType" value="@DamageType.Physical">
                <label for="radio-4">Physical</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="SkillType" class="control-label">Тип скилла: </label>
        <div class="form-radio">
            <div class="form_radio_btn">
                <input id="radio-5" type="radio" asp-for="SkillType" value="@SkillType.None" checked>
                <label for="radio-5">None</label>
            </div>
            <div class="form_radio_btn">
                <input id="radio-6" type="radio" asp-for="SkillType" value="@SkillType.Active">
                <label for="radio-6">Active</label>
            </div>
            <div class="form_radio_btn">
                <input id="radio-7" type="radio" asp-for="SkillType" value="@SkillType.Passive">
                <label for="radio-7">Passive</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="CharacterId" class="control-label">Выберите героя</label>
        <select class="select" asp-for="CharacterId">
            <option disabled>Выбрать героя</option>
            @foreach (var character in Model.Characters)
            {
                <option value="@character.Id">@character.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <div class="none"></div>
        <div class="btn-wrapper">
            <input class="btn reset" type="reset" value="Очистить" />
            <input class="btn submit" type="submit" value="Отправить" />
        </div>
    </div>
</form>

<script>
    var loadFile = function(event) {
        var reader = new FileReader();
        reader.onload = function(){
            var output = document.getElementById('output');
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    };
</script>