@model AsturianuTV.Infrastructure.Data.Models.Skill
@{
    Layout = "_AdminLayout";
}
<section>
    <div class="form">
        <p>@Model.Name</p>
        <p>
            @if (Model.Character == null) { <span>Герой не определен</span> }
            else
            {
                <a class="link-to" asp-action="Details" asp-controller="Character" asp-route-id="@Model.Character.Id">@Model.Character.Name</a>
            }
        </p>
        <div class="secondary-info">
            <p>
                @if (@Model.ImagePath == null)
                {
                    <span>No Image</span>
                }
                else
                {
                    <img class="content-img" src="@Model.ImagePath" alt="Alternate Text"/>
                }
            </p>
            <p>@Model.Description</p>
            <p>@Model.SkillType</p>
            <p>@Model.DamageType</p>
            <p>@Model.Damage</p>
            <p>@Model.CoolDown</p>
            <p>@Model.ManaCost</p>
            <p>@Model.TimeDuration</p>
        </div>
    </div>
</section>
